@font-face {
  font-family: "MuseJazz Text";
  src: url("./assets/MuseJazzText.otf") format("opentype");
}

body {
  margin: 0;
  background-color: #203020;
  font-family: "MuseJazz Text", sans-serif;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
