@font-face {
  font-family: "MuseJazz Text";
  src: url("./assets/MuseJazzText.otf") format("opentype");
}

@font-face {
  font-family: "Funnel Display";
  src: url("./assets/FunnelDisplay-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: white;
  font-family: "Funnel Display", sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  color: black;
}

#root {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 480px;
  margin: auto;
  padding: 25vh 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.prompt {
  font-family: "MuseJazz Text", sans-serif;
  font-size: 2em;
  text-align: center;
}

.pattern-group {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:
    -5px 0 10px #e0e0ff,
    5px 0 10px #e0ffe0;
}

.pattern-group-heading {
  color: #a0a0ff;
  padding: 5px;
  cursor: pointer;
}

.float-right {
  float: right;
}

.pattern-group-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
}
.pattern-group.expanded > .pattern-group-content {
  grid-template-rows: 1fr;
}

.pattern-group-content > ul {
  min-height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.pattern-toggle {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  font-family: "MuseJazz Text", sans-serif;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}
.pattern-toggle:hover {
  box-shadow:
    inset -5px 0 10px transparent,
    inset 5px 0 10px transparent,
    -5px 0 10px #e0e0ff,
    5px 0 10px #e0ffe0;
}
.pattern-toggle.selected {
  transition: box-shadow 0.2s ease;
  box-shadow:
    inset -5px 0 10px #c0c0ff,
    inset 5px 0 10px #c0ffc0;
}
.pattern-toggle.selected:hover {
  box-shadow:
    inset -5px 0 10px #c0c0ff,
    inset 5px 0 10px #c0ffc0,
    -5px 0 10px #e0e0ff,
    5px 0 10px #e0ffe0;
}

.placeholder {
  color: #a0ffa0;
}
